/* =========================================[ Bardzo ogólne ]========================================== */
* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

/* ==============================================[ Body ]============================================== */
body {
  background: rgb(84, 73, 255);
  background: linear-gradient(315deg, rgba(84, 73, 255, 1) 0%, rgba(191, 177, 255, 1) 54%, rgba(73, 132, 255, 1) 100%);
  background-size: 200%;
  min-height: 100vh;
}
/* ==================================================================================================== */


/* ====================================[ Wiersze bloków - edytor ]===================================== */
#editorArea>ul>li:first-child {
  margin-top: 7vh;
}
.row {
  display: flex;
}

.row>li {
  height: 5vh;
  width: 10%;
  border-top: 1px dashed rgb(255, 233, 255);
}

.row>li:not(:last-child) {
  border-right: 1px dashed rgb(255, 233, 255);
}

.row {
  border-left: 1px dashed rgb(255, 233, 255);
  border-right: 1px dashed rgb(255, 233, 255);
}

#editorArea>ul>li:last-child {
  border-bottom: 1px dashed rgb(255, 233, 255);
}
/* ==================================================================================================== */

/* ========================================[ Edytor - ogólne ]========================================= */
/* Edytor */
#editorArea {
  width: 95vh;
  height: 95vh;
  max-height: 1000px;
  max-width: 1000px;
  margin: auto;
  padding: 2px;
  display: block;
  position: relative;
  background-image: url("../img/background.jpg");
  background-size: 100%;
  box-shadow: 0 0 15px rgb(115, 115, 115);
}

/* Textura platformy */
#platform {
  width: 30%;
  height: 3%;
  position: absolute;
  bottom: 5%;
  right: 50%;
  background-image: url("../img/textures/platform.png");
  transform: translate(50%, 50%);
}
/* ==================================================================================================== */

/* ======================================[ Panel wyboru bloków ]======================================= */
.row>li,
#chooseType li {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#chooseType li {
  border: 1px solid black;
  width: 10vw;
  min-width: 100px;
  display: grid;
  place-items: center;
  filter: grayscale(60%);
  box-shadow: 2px 2px 5px rgb(113, 113, 113);
}

#chooseType {
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  height: 95vh;
  max-height: 1000px;
  width: 10vw;
  box-shadow: 0 0 15px rgb(5, 5, 5);
}

#editorArea,
#chooseType,
#template>header {
  margin-top: 1vh;
}

#chooseType li:nth-child(1) {
  background-image: url("../img/bricks/whiteBrick.jpg");
}

#chooseType li:nth-child(2) {
  background-image: url("../img/bricks/orangeBrick.jpg");
}

#chooseType li:nth-child(3) {
  background-image: url("../img/bricks/cyanBrick.jpg");
}

#chooseType li:nth-child(4) {
  background-image: url("../img/bricks/greenBrick.jpg");
}

#chooseType li:nth-child(5) {
  background-image: url("../img/bricks/redBrick.jpg");
}

#chooseType li:nth-child(6) {
  background-image: url("../img/bricks/blueBrick.jpg");
}

#chooseType li:nth-child(7) {
  background-image: url("../img/bricks/pinkBrick.jpg");
}

#chooseType li:nth-child(8) {
  background-image: url("../img/bricks/yellowBrick.jpg");
}

#chooseType li:nth-child(9) {
  background-image: url("../img/bricks/silverBrick.jpg");
}

#chooseType li:nth-child(10) {
  background-image: url("../img/bricks/goldBrick.jpg");
}

#chooseType li.picked {
  filter: grayscale(0%);
  filter: saturate(180%);
  transform: scale(1.1);
  z-index: 2;
  background-size: 120%;
}

#chooseType li:not(.picked):hover {
  background-size: 120%;
  filter: grayscale(10%);
}

/* Pusty blok */
#voidBrick {
  position: relative;
  overflow: hidden;
  filter: grayscale(200%);
  background-image: url("../img/bricks/whiteBrick.jpg");
}

#voidBrick::after,
#voidBrick::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 10%;
  background-color: rgb(120, 35, 35);
  z-index: 1;
  transform: rotate(22deg) translate(0%, 500%);
}

#voidBrick::before {
  transform: rotate(-23deg) translate(-18%, 350%);
}
/* ========================================================================================================= */

/* ========================================[ Button - ogólne ]========================================= */
button {
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(154, 186, 255);
  color: rgb(0, 41, 146);
  border: rgb(0, 41, 146) 2px solid;
  display: block;
  cursor: pointer;
  transition: 0.1s ease-in all;
  box-shadow: 1px 1px 5px rgb(94, 94, 94);
}

/* ==========================================[ Układ strony ]========================================== */
#template {
  display: grid;
  grid-template-columns: 20% 95vh 10vw;
  justify-content: center;
  column-gap: 17px;
}

#template>header {
  padding: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.374);
  display: grid;
  grid-template-columns: "loadingDiv loadingDiv"
    "savingDiv savingDiv"
    "play play"
    "bottomButtons bottomButtons";
  grid-template-rows: 2% 10% 10% 45% 10% 10%;
max-height: 95vh;
}

/* ======================================[ Kolumna - 80% / 20% ]======================================= */
.column80-20 {
  display: grid;
  grid-template-columns: 1fr 25%;
  column-gap: 10px;
  align-items: center;

}

.column80-20> :first-child {
  width: 100%;
  height: 70%;
  font-size: 1em;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 19, 68);
  cursor: pointer;
  transition: 0.1s ease-in all;
  border-radius: 10px;
}

.column80-20> :nth-child(2) {
  height: 70%;
  display: block;
  padding: 5px;
  border-radius: 10px;
}

.column80-20> :nth-child(2) img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* =========================================[ Sekcja zapisu ]========================================== */
#savingDiv>input {
  padding: 0;
  padding-left: 10px;
}

#savingDiv>input[type="text"] {
  width: calc(100% - 15px);
}

#savingDiv {
  grid-area: 'savingDiv';
}
#saveButton {
  background-color: rgba(186, 204, 255, 0.623);
  border: rgb(0, 41, 146) 4px solid;
  box-shadow: 1px 1px 2px rgb(94, 94, 94);

}

#saveButton:hover {
  background-color: rgb(177, 203, 255);
  outline: rgb(0, 41, 146) 2px solid;
  box-shadow: 0 0 5px rgb(59, 59, 59);
}

/* =======================================[ Kolumny 50% / 50% ]======================================== */
.column-50-50-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  align-items: center;
}

.column-50-50-buttons>* {
  margin: 1.2rem 5px;
}

/* ========================================[ Czyszczące ekran ]======================================== */
#clearButton {
  background-color: rgb(255, 208, 202);
  color: rgb(0, 41, 146);
  border: rgb(146, 0, 0) 6px solid;
}

#clearButton:hover {
  background-color: rgb(255, 172, 163);
  outline: rgb(146, 0, 0) 3px solid;
  box-shadow: 0 0 10px rgb(59, 59, 59);
}

/* ========================================[ Usuwajace poziom ]======================================== */
#deleteButton {
  background-color: rgb(48, 150, 49);
  border: rgb(46, 90, 47) 6px solid;
}

#deleteButton:hover {
  background-color: rgb(0, 169, 3);
  outline: rgb(46, 90, 47) 3px solid;
  box-shadow: 0 0 10px rgb(59, 59, 59);
}

/* =========================================[ Przycisk Graj ]========================================== */
#play {
  grid-area: 'play';
  width: 100%;
  padding: 1px;
  background-color: rgb(255, 229, 84);
  border: rgb(134, 111, 33) 4px solid;
}

#play:hover {
  background-color: rgb(255, 217, 0);
  outline: rgb(134, 111, 33) 3px solid;
  box-shadow: 0 0 10px rgb(59, 59, 59);
}

#play img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ======================================[ Sekcja nazwy poziomu ]====================================== */
#levelName {
  background-color: rgba(231, 236, 255, 0.717);
  border: rgb(0, 41, 146) 3px solid;
  color: rgb(0, 41, 146);
  font-size: 1.4rem;
  box-shadow: 1px 1px 2px rgb(94, 94, 94);
}

#levelName::placeholder {
  color: rgb(0, 41, 146);
}

#levelName:focus {
  outline: rgb(0, 41, 146) 2px solid;
  background-color: rgba(207, 217, 255, 0.717);
}

#levelName:hover {
  outline: rgb(0, 41, 146) 2px solid;
  background-color: rgba(207, 217, 255, 0.717);

}

/* =======================================[ Sekcja wczytywania ]======================================= */
#loadButton {
  background-color: rgb(211, 255, 166);
  border: rgb(55, 138, 0) 4px solid;
  box-shadow: 1px 1px 2px rgb(94, 94, 94);
}

#loadButton:hover {
  background-color: rgb(196, 255, 136);
  outline: rgb(55, 138, 0) 2px solid;
  box-shadow: 0 0 5px rgb(59, 59, 59);
}

#chooseToEdit {
  background-color: rgb(234, 255, 216);
  border: rgb(55, 138, 0) 3px solid;
  color: rgb(34, 84, 0);
  font-size: 1.4rem;
  box-shadow: 1px 1px 2px rgb(94, 94, 94);
}

#chooseToEdit:is(:hover, :focus) {
  background-color: rgba(204, 255, 153, 0.826);
  outline: rgb(55, 138, 0) 2px solid;
}

#bottomButtons {
  grid-area: 'bottomButtons';
}
#loadingDiv {
  grid-area: 'loadingDiv';
}

/* ==========================================[ Blok pomocy ]=========================================== */
#help {
  position: absolute;
  display: block;
  top: 50%;
  left: -100%;
  transform: translate(-50%, -50%);
  width: 70%;
  box-shadow: 0 0 20px rgb(59, 59, 59);
  background-color: rgba(154, 215, 255, 0.867);
  z-index: 5;
  border-radius: 20px;
  animation: flyFromLeft 2s ease-in-out .1s forwards;
  max-height: 100vh;
}

@keyframes flyFromLeft {
  0% {
    left: -100%;
  }

  100% {
    left: 50%;
  }
}

@keyframes flyToLeft {
  0% {
    left: 50%;
  }

  100% {
    left: -100%;
  }
}

#help>header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 20px 20px 0 0;
  background-color: rgba(163, 129, 255, 0.7);
  border: rgba(56, 0, 161, 0.7) 6px solid;
  border-bottom: none;
  color: rgba(72, 5, 173, 0.799);
  font-family: Tahoma;
}

#help>article>section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-size: 1.2rem;
}

#help>article>section>h2 {
  font-size: 2rem;
  font-family: 'Lucida Sans Unicode';

}

#help>article>section>ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-size: 1.4rem;
}

#help>article>section>ul li {
  font-family: 'Trebuchet MS', sans-serif;
}

/* ============================================================== */
section.clearTheme {
  background-color: rgba(255, 208, 202, 0.7);
  border: rgb(146, 0, 0, 0.7) 6px solid;
}

section.clearTheme>h2 {
  color: rgb(146, 0, 0);
}

section.clearTheme>ul {
  color: rgb(198, 73, 54);
}

/* ============================================================== */
section.createTheme {
  background-color: rgba(149, 199, 243, 0.7);
  border: rgba(0, 68, 170, 0.7) 6px solid;
}

section.createTheme>h2 {
  color: rgb(0, 55, 136);
}

section.createTheme>ul {
  color: rgba(7, 65, 152, 0.737);
}

/* ============================================================== */
section.editTheme {
  background-color: rgba(255, 194, 147, 0.7);
  border: rgba(170, 60, 0, 0.7) 6px solid;
}

section.editTheme>h2 {
  color: rgb(179, 84, 33);
}

section.editTheme>ul {
  color: rgb(200, 102, 49);
}

/* ============================================================== */
section.playTheme {
  background-color: rgba(255, 239, 118, 0.7);
  border: rgba(164, 150, 0, 0.7) 6px solid;
}

section.playTheme>h2 {
  color: rgb(184, 169, 0);
}

section.playTheme>ul {
  color: rgb(161, 148, 1);
}

/* ============================================================== */
section.deleteTheme {
  background-color: rgba(135, 212, 118, 0.7);
  border: rgba(7, 111, 0, 0.7) 6px solid;
}

section.deleteTheme>h2 {
  color: rgb(0, 102, 0);
}

section.deleteTheme>ul {
  color: rgb(0, 102, 0);
}

/* ============================================================== */
section.buttonTheme {
  border-radius: 0 0 20px 20px;
  background-color: rgba(163, 129, 255, 0.7);
  border: rgba(56, 0, 161, 0.7) 6px solid;
  border-top-width: 0px;
  transition: .5s ease-in-out background-color;
}

section.buttonTheme:hover>h2 {
  color: rgb(143, 1, 168);
}

section.buttonTheme>h2 {
  color: rgb(98, 28, 190);
  transition: .5s ease-in-out color;
}

section.buttonTheme:hover {
  background-color: rgba(137, 43, 226, 0.522);
  cursor: pointer;
}

/* ========================================[ Przycisk wyjścia ]======================================== */
#exit {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(76, 17, 170, 0.695);
  border: 6px solid rgba(56, 0, 161, 0.7);
  width: 120px;
  height: 120px;
  transition: .5s ease-in-out background-color;
  display: grid;
  place-items: center;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(59, 59, 59, 0.764);
}

#exit img {
  width: 60%;
  height: 60%;
}

#exit:hover {
  background-color: rgba(111, 57, 209, 0.8);
  cursor: pointer;
  outline: 1px solid rgba(56, 0, 161, 0.7);
}

/* ===========================================[ Ekrany HD ]============================================ */
@media only screen and (max-height: 550px) {
  body{
    min-height: 550px;
  }

  .column-50-50-buttons > button{

    transform: scale(0.8);
  }
}
@media only screen and (max-height: 440px) {
 .column-50-50-buttons > button{
  margin-top: 10px;
    transform: scale(0.7);
  }
  #savingDiv{
    margin-top: 10px;
  }
}
@media only screen and (max-width: 1400px) {

#chooseToEdit,
#levelName{
  font-size: 1rem;
}
  #exit {
    width: 80px;
    height: 80px;
    border-radius: 10px;
  }

  #exit img {
    width: 50%;
    height: 50%;
  }

  #chooseType li {
    border: none;
  }

  body>* {
    transform: scale(0.9);
  }

  #help {
    width: 90vw;
    transform: scale(0.9), translate(-50%, -50%);
  }
}

@media only screen and (max-width: 1200px) {
  body>* {
    transform: scale(0.85);
  }

  body {
    min-width: 1160px;
  }

  #help {
    width: 95vw;
    scale: 0.7;
    transform: translate(-65%, -80%);
    
  }

}
@media only screen and (max-height: 780px) {
  body>* {
    transform: scale(0.8);
  }

  body {
    min-height: 700px;
  }

  #help {
    width: 95vw;
    scale: 0.6;
    transform: translate(-85%, -100%);
    
  }

}
@media only screen and (max-height: 700px){
  #help {
    width: 95vw;
    scale: 0.5;
    transform: translate(-100%, -120%);
    
  }
}
@media only screen and (max-height: 600px){
  #help {
    width: 95vw;
    scale: 0.4;
    transform: translate(-110%, -170%);
    
  }
}
@media only screen and (max-height: 500px){
  #help {
    width: 95vw;
    scale: 0.3;
    transform: translate(-152%, -220%);
    
  }
}